/* Modal Structure */
html,
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 0;
}
h1 {
    font-family: "Menlo", monospace;
    font-size: 22px;
    font-weight: 400;
}


.spinner-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-top-color: #2f5876;
    animation: spin 1s infinite linear;
}


/* logo size */
#logo {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;;
    /* margin-bottom: 20px; */
    /* box-shadow: #808080; */
    text-align: center;
}

/* user greating statement */
#statement {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #808080;
}

/* user portrait */
#portrait {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

