/* popup window */
.popup {
    width: 300px;
    height: auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: block;
}

/* popup window title */
.popup-title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* popup button defition */
.popup-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    border: 1px solid #ccc;
    border-radius: 3px;
    
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    color: #888;

    display: inline-block;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    
    transition: all .2s ease-in-out;
    
}

/* popup button hover */
.popup-button:hover {
    background-color: #333;
    /* transition: .3s; */
    color: #fff;
}

/* popup button active */
.popup-button:active {
    background-color: #fff;
    /* transition: .3s; */
    color: #888;
}

/* popup divider */
.popup-divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    color: #333;
}

/* popup divider with text */
.popup-divider-w-text {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #333;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

/* popup divider text */
.popup-divider-text {
    font-size: 14px;
    background-color: #fff;
    padding: 0 10px;
    color: #808080;
}

/* popup main body */
.popup-body {
    margin-top: 20px;
    height: auto;
    margin-bottom: 20px;
}

/* popup header */
.popup-header {
    margin-top: auto;
    text-align: center;
    display: block;
}

/* popup footer */
.popup-footer {
    margin-top: auto;
    text-align: center;
    display: block;
}

/* popup footer text */
.popup-footer-text {
    font-size: 12px;
    text-align: center;
    color: #808080;
}

/* popup text prompt */
.popup-text-prompt {
    font-size: 14px;
    text-align: center;
    color: #808080;
    margin:auto;
}

/* popup input section */
.popup-input-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* popup input field*/
.input-field {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
    margin: auto;
}
.input-field:focus {
    outline: none;
    border: 1px solid #2f5876;
}

/* popup notification field */
.popup-notification {
    width: 88%;
    height: 30px;
    position:fixed;
    z-index: 999;
    border-radius: 5px;
    margin:auto;

    background-color: #888;
    opacity: 50%;
    color: #fff;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    transition: ease-in-out .3s;

    display:flex;
}

/* google logo alignment */
#g-logo {
    margin-right: 10px;
    display: inline;
    vertical-align: middle;
    background-color: transparent;
}

/* masked api key field */
#masked_api_key {
    width: 100%;
    height: 30px;
    background-color: #888;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    margin: auto;
    cursor: copy;
}